.box2{
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    text-align: left;
    vertical-align: middle;
}

.boxContainer2{
    font-size: 0;
    position: flex;
    left: 0;
    right: 0;
    margin: 20px;
    
}
.Imgtachi {
    width: 80px;
    height: 80px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
    vertical-align: middle;
}