.box2{
    display: inline-block;
    font-size: 18px;
    margin: 8px;
    text-align: left;
    vertical-align: middle;
}

.boxContainer2{
    display: flex;
    justify-content: center;
    margin: 8px;
}
.Imgtachi {
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
    vertical-align: middle;
}
.expepa{
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}