.footerContainer{
    background-color: thistle;
}
.footertitle{
    font-weight: bold;
}
.footerbox4{
    float: left;
    font-size: 20px;
    color: white;
}
.underLine3{
    border-bottom: 2px solid white;
}