.bottom-container{
    font-size: 0;
    position: flex;
    left: 0;
    right: 0;
    margin: 0;
    display: inline-block;
}
.bottom-container-title{
    font-size: 30px
}

.bottomcontent{
    font-size: 25px;
}
.bottomImg{
    width: 250px;
    height: 250px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
}

.bottom-container2{
    font-size: 25px;
    float: left;
    left: 0;
    right: 0;
    margin: 0;
}
.hostingwoman{
    width: 600px;
    height: 400px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
    left: 350px;
}
.hosting{
    font-size: 30px;
    position: relative;
    bottom:200px;
}
.bottomcontent2{
    font-size: 25px;
}
.bottomImg2{
    width: 300px;
    height: 300px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
}