.bottom-container{
    display: flex;
    justify-content: center;
    
}
.bottom-container-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.bottomcontent{
    font-size: 25px;
}
.bottomImg{
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
}

.bottom-container2{
    font-size: 25px;
    float: left;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
}
.hostingwoman{
    width: 600px;
    height: 400px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
    left: 350px;
    z-index: -1;
}
.hosting{
    font-size: 30px;
    display: flex;
  
    bottom: 200px; 
    color:black;
}
.bottomcontent2{
    font-size: 16px;
    color:black;
}
.bottomImg2{
    width: 300px;
    height: 300px;
    position: relative;
    object-fit: cover;
    border-radius:30px;
}